<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= link_to "/admin/users/#{user.id}" do %>
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <% if user.is_active == false %>
            <p class="text-secondary">無効</p>
          <% else %>
            <p class="text-success">有効</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>